<header class="jumbotron subhead" id="overview">
	<div class="container">
		<div class="page-header pagination-centered">
			<h1>Welcome to Character Mine.</h1>
			<h2><small>The best Pen and Paper Character Builder of ALL TIME!</small></h2>
		</div>
  </div>
</header>
<div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
              	<li class=""><a href="" data-toggle="tab" hidden="true"></a></li>
                <li class="active"><a href="#lA" data-toggle="tab">Welcome!</a></li>
                <li class=""><a href="#lB" data-toggle="tab">About Us?</a></li>
                <li class=""><a href="#lC" data-toggle="tab">How things work.</a></li>
                <li class=""><a href="" data-toggle="tab"></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="lA">
                  <p class="lead">
										That said, we are still in development. Comeback when the Alpha stage has been finished!
									</p>
                </div>
                <div class="tab-pane" id="lB">
                  
                </div>
                <div class="tab-pane" id="lC">
                  
                </div>
              </div>
            </div>
