<header class="jumbotron subhead" id="overview">
	<div class="container">
		<div class="page-header pagination-centered">
			<h1>Welcome to Character Mine.</h1>
			<h2><small>The best Pen and Paper Character Builder of ALL TIME!</small></h2>
		</div>
  </div>
</header>
<p class="lead">
			That said, we are still in development. Comeback when the Alpha stage has been finished!
</p>