<h1>New character</h1>

<%= form_for(@character) do |f| %>
  <div class="field">
	<%= f.label :name %>
    <%= f.text_field :name %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
