<table class="profile">
  <tr>
    <td class="main">
	<h1><%= @character.name %></h1><br />
	<%= link_to 'Edit', edit_character_path(@character) %> |
	<%= link_to 'Back', characters_path %>
	</td>
  </tr>
</table>