<% model_class = @klass %>
<% unless @klass_search.empty?  %>
	<%  @klass_search.each do |result| %>
		<dl class="dl-horizontal" id="show-result">
		  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
		  <dd><%= link_to result.name, show_references_path(:jklass => result.to_json, :klass => result.class.name), :remote => true %></dd>
		</dl>
	<% end %>
<% else %>
<p class="lead">
			Sorry, but we have not yet added any <%= model_class.to_s.pluralize %> to our library.
</p>
<% end %>